// ==========================================
// DIRECTORY
// ==========================================

.directory {
  margin-bottom: -50px;
}

.directory__row--second, .directory__row--other {
  @include flexbox($direction: row, $justify: space-between, $wrap: wrap);
  margin: $margin-div 0;
  transform: translateY(-50px);
  width: 100%;

  @include media-query(small) {
    @include flexbox($direction: column);
    margin: 0;
  }
}
